
.rev1 {
    animation: beep 1s ease infinite;
}
.rev2 {
    animation: boop 4s ease infinite;
}
.rev3 {
    animation: beep 5s ease infinite;
}
.rev4 {
    animation: boop 3s ease infinite;
}
.rev5 {
    animation: beep 2s ease infinite;
}
.rev6 {
    animation: beepboop .5s ease infinite;
}


@keyframes beep {
    0%   {opacity: 0;}
    20%  {opacity: 0;}
    21%  {opacity: 1;}
    30%  {opacity: 1;}
    31%  {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes boop {
    0%   {opacity: 0;}
    50%  {opacity: 0;}
    51%  {opacity: 1;}
    60%  {opacity: 1;}
    61%  {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes beepboop {
    0%   {opacity: 0;}
    40%  {opacity: 0;}
    41%  {opacity: 1;}
    100%  {opacity: 1;}
}
