.my-name-lol {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 0.9vw;
    /*line-height: 9pt;*/
    color: #FFB200;
    width: 100%
    height: 20%;
}

.has-my-face{
    cursor: url("../media/me.png") 20 27, pointer;
}

.top-bar {
    margin-top: 80px;
}

.blog {
    margin: 20px;
    background-color: white;
    color: #FFB200;
    font-size:1vw;
}

.post {
    margin: 5px;
    font-size: 2vw;
}