@media (min-device-width: 769px){
    body {
        background-repeat: repeat;
        background-size: 20vw;
        width: 100%;
        height: 100%;
    }

    img {
        width: 70%;
        height: auto;
    }

    .nav-bar{
        font-size: 1.4vw;
        width: 100%;
    }

    .nav-bar td{
        text-align: left;
        border-style: outset;
        border-width: 5px;
        width: 25%;
    }

    .unformatted {
        color: inherit;
        text-decoration: none;
    }
    .big{
        font-size: 5vw;
    }

    #header {
        margin: 5vw;
        padding: 1vw;
        border-width: 10px;
        border-style: inset;
        background-color: #AFAFAF;
        color: black;
    }

    .nav-drop {
      position: relative;
      display: inline-block;
    }

    .nav-drop:hover .nav-drop-content {
        display: block;
    }

    .nav-drop-content {
        display: none;
        width: 20vw;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;
    }
    .nav-drop-content div{
        border-style: inset;
    }

    .nav-drop-content a{
        font-size: 1.2vw;
        color: inherit;
        text-decoration: none;
    }

    .nav-drop-content:hover div div a{
        font-size: 1vw;
        text-decoration: none;
        background-color: white;
    }

    #text-body {
        margin: 5vw;
        padding: 1vw;
        border-width: 10px;
        border-style: inset;
        background-color: #AFAFAF;
        color: black;

    }

    #shoe {
        padding-bottom: 10px;
        width: 100%;
        background-color: #AFAFAF;
        position: fixed;
        text-align: center;
        bottom: 0;
        font-size: 1.2vw;
    }

    .thing{    
        width:25%;
        float:left;
    }

    .thing2{
        width:25%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px){ 
    body {
        background-repeat: repeat;
        background-size: 12vw;
        width: 100%;
        height: 100%;
    }

    img {
        width: 90%;
        height: auto;
    }

    .nav-bar{
        font-size: 3vw;
        width: 100%;
    }

    .nav-bar td{
        text-align: left;
        border-style: outset;
        border-width: 5px;
        width: 25%;
    }

    .unformatted {
        color: inherit;
        text-decoration: none;
    }
    .big{
        font-size: 5vw;
    }

    #header {
        margin: 5vw;
        padding: 1vw;
        border-width: 10px;
        border-style: inset;
        background-color: #AFAFAF;
        color: black;
    }

    .nav-drop {
      position: relative;
      display: inline-block;
    }

    .nav-drop:hover .nav-drop-content {
        display: block;
    }

    .nav-drop-content {
        display: none;
        width: 20vw;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;
    }
    .nav-drop-content div{
        border-style: inset;
    }

    .nav-drop-content a{
        font-size: 4vw;
        color: inherit;
        text-decoration: none;
    }

    .nav-drop-content:hover div div a{
        font-size: 1vw;
        text-decoration: none;
        background-color: white;
    }

    #text-body {
        margin: 5vw;
        padding: 1vw;
        border-width: 10px;
        border-style: inset;
        background-color: #AFAFAF;
        color: black;

    }

    #shoe {
        padding-bottom: 10px;
        width: 100%;
        background-color: #AFAFAF;
        position: fixed;
        text-align: center;
        bottom: 0;
        font-size: 4vw;
    }

    .thing{    
        width:25%;
        float:left;
    }

    .thing2{
        width:25%;
    }
}

@media screen and (max-device-=-width: 769px){
    body {
        background-repeat: repeat;
        background-size: 10vw;
        width: 100%;
        height: 100%;
    }

    img {
        width: 70%;
        height: auto;
    }

    .nav-bar{
        font-size: 4vw;
        width: 100%;
    }

    .nav-bar td{
        text-align: left;
        border-style: outset;
        border-width: 5px;
        width: 25%;
    }

    .unformatted {
        color: inherit;
        text-decoration: none;
    }
    .big{
        font-size: 10vw;
    }

    #header {
        margin: 5vw;
        padding: 1vw;
        border-width: 5px;
        border-style: inset;
        background-color: #AFAFAF;
        color: black;
    }

    .nav-drop {
      position: relative;
      display: inline-block;
    }

    .nav-drop:hover .nav-drop-content {
        display: block;
    }

    .nav-drop-content {
        display: none;
        width: 20vw;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;
    }
    .nav-drop-content div{
        color: inherit;
        border-style: inset;
    }

    .nav-drop-content a{
        font-size: 3vw;
        color: inherit;
        text-decoration: none;
    }

    .nav-drop-content:hover div div a{
        font-size: 4vw;
        text-decoration: none;
        background-color: white;
    }

    #text-body {
        margin: 5vw;
        padding: 1vw;
        border-width: 5px;
        border-style: inset;
        background-color: #AFAFAF;
        color: black;

    }

    #shoe {
        padding-bottom: 10px;
        width: 100%;
        background-color: #AFAFAF;
        position: fixed;
        text-align: center;
        bottom: 0;
        font-size: 3vw;
    }

    .thing{    
        width:50%;
        float:left;
    }

    .thing2{
        width:50%;
    }
}
