body {
    background: black;
    color: #FFB200;
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-family: 'VT323', monospace;
    font-size: 3vw;
    overflow:scroll;
}

textarea {
    font-family: 'VT323', monospace;
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-size: 3vw;
    overflow:auto;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFB200;
}

#header {
    font-size: 4vw;
}

#header a{
    color: #FFB200;
    text-decoration:none; 
}

#header a:hover{
    color: #FFF250;
}

#prompt {
}