body {
	font-family: 'VT323', monospace;
	background-color: black;
	padding: 0;
}

.block {
	background-color: black;
	color: #FFB200;
	font-size: 48pt;
}

.term {
	background-color: black;
	color: #FFC23C;
	text-shadow: 0 0 3px #ffce3c;
	font-size: 48pt;
	padding: 0;
	margin: 0;
}

span.term-active {
	background-color: #FFB200;
	color: black;
	text-shadow: 0 0 5px #050505;
	font-size: 48pt;
}

span.info {
	border-style: dashed;
	border-width: 2px;
	border-color: #FFB200;
	background-color: black;
	color: white;
	font-size: 24pt;
	display: none;
	padding: 10pt;
	margin-bottom: 15pt;
	margin-top: 10pt;
}

#footer {
	background-color: #FFB200;
	color: black;
    position: fixed;
    font-size: 16pt;
    bottom: 0;
    width: 100%;
}

#header {
	position: fixed;
	background-color: #FFB200;
	color: black;
    font-size: 16pt;
    top: 0;
    width: 100%;
}

div.spacer {
	background-color: black;
	height: 100pt;
}




.cool-overlay{
	position: fixed;
	overflow: hidden;
}

.slide {
	animation: scan 2s linear infinite;

}
.slide1 {
	animation: scan 2s linear 100ms infinite;

}
.slide2 {
	animation: scan 2s linear 200ms infinite;

}
.slide3 {
	animation: scan 2s linear 300ms infinite;

}
.slide4 {
	animation: scan 2s linear 400ms infinite;

}
.slide5 {
	animation: scan 2s linear 500ms infinite;

}
.slide6 {
	animation: scan 2s linear 600ms infinite;

}
.slide7 {
	animation: scan 2s linear 700ms infinite;

}
.slide8 {
	animation: scan 2s linear 800ms infinite;

}
.slide9 {
	animation: scan 2s linear 900ms infinite;

}
.slide10 {
	animation: scan 2s linear 1000ms infinite;

}
.slide11 {
	animation: scan 2s linear 1100ms infinite;

}
.slide12 {
	animation: scan 2s linear 1200ms infinite;

}
.slide13 {
	animation: scan 2s linear 1300ms infinite;

}
.slide14 {
	animation: scan 2s linear 1400ms infinite;

}
.slide15 {
	animation: scan 2s linear 1500ms infinite;

}
.slide16 {
	animation: scan 2s linear 1600ms infinite;

}
.slide17 {
	animation: scan 2s linear 1700ms infinite;

}
.slide18 {
	animation: scan 2s linear 1800ms infinite;

}
.slide19 {
	animation: scan 2s linear 1900ms infinite;

}

@keyframes scan {
	from {transform: translateX(0%);}
	to {transform: translateX(100%);}
}